---
layout: default
---
<!-- Page Header-- - - - bg-dark## lower number is brighter, higher number has dark overlay for background header image -->


<section class="module-header full-width parallax bg-dark bg-dark-60" data-background="assets/images/afir-1800x914-opt.jpg" background-color=#0a0b0c>
<div class="container">
		<div class="row">
			<div class="col-sm-12">
			<h1 class="h1">Jason Thorpe Buchanan</h1>
				<h2 class="h2">Composer</h2>
			</div>
		</div>
	</div>
</section>

<!-- big news -->
<br>
<div class="container full-width" width="60%">
	<div class="portfolio-item posts-item p-2 2022 job germany dresden new 2022-08-09 00:00:00 +0000" width="80%">
		<center>
<a data-fancybox="" data-type="iframe" href="/news/2022/08/09/HfM-Dresden-Hybrid-Music-Lab.html" target="_blank"><div class="row justify-content-start" width="60%"><div class="col-12"><img src="/assets/images/headers/hfm-dresden-building-logo_500.jpg" class="rounded media-left img-fluid" alt=""></div>
	<br><br>
	<div class="media-body col-12"><font color="fafafa"><h3 class="h3"><br>Faculty appointment at the Hochschule für Musik Dresden, Hybrid Music Lab.</h3>
		<br>I'm thrilled to be joining the faculty of the Hybrid Music Lab at the Hochschule für Musik Carl Maria von Weber as Artistic Associate/Lecturer in New Media and Digital Technologies for Music, teaching seminars and workshops in audiovisual/intermedia composition and network music/telematic performance with colleagues Stefan Prins, Artemi-Maria Gioti, Christoph Mann, and Franz Martin Olbrisch.</font></div></div></a>
</center></div></div>


<!-- end big news -->
<br>
<!-- videos -->
 <section class="score-vid-header module-bg-dark" background-color="#051f4a">
	<div class="container full-width">
		<!-- reflexive iterations BEGIN --><div class="row full-width" width="100%" height="50vh">
			<div class="col-2 nopadding score-wrapper">{% include home-score_reflexive-iterations.html %} </div>&nbsp;
						<div class="col-9 nopadding" valign="top" align="right" width="99%" height="55vh"><iframe class="embed-responsive-item" width="99%" height="55vh" src="" data-src="https://player.vimeo.com/video/555041925" frameborder="0" allowfullscreen valign="top"></iframe></div>
		</div><!--  reflexive iterations END -->
<br>

		<!-- all-forgetting-is-retrieval LESS THAN 10 BEGIN --><div class="row full-width" width="100%" height="50vh">
			<div class="col-2 nopadding score-wrapper">{% include home-score_all-forgetting.html %} </div>&nbsp;
						<div class="col-9 nopadding" valign="top" align="right" width="99%" height="55vh"><iframe class="embed-responsive-item" width="99%" height="55vh" src="" data-src="https://player.vimeo.com/video/545829340" frameborder="0" allowfullscreen valign="top"></iframe></div>
		</div><!--  all-forgetting-is-retrieval END -->
<br>

		<!-- SOLILOQUIOS  BEGIN --><div class="row full-width" width="100%" height="50vh">
			<div class="col-2 nopadding score-wrapper" align="left">{% include home-score_soliloquios-del-viento.html %}</div>&nbsp;

				<div class="col-9 nopadding" valign="top" align="right" width="99%" height="55vh"><iframe class="embed-responsive-item" width="98%" height="55vh" src="" data-src="https://player.vimeo.com/video/400224384" frameborder="0" allowfullscreen valign="top"></iframe></div>
		</div><!-- SOLILOQUIOS  END -->

<br>
		<!-- all-forgetting-is-retrieval BEGIN --><div class="row full-width" width="100%" height="50vh">
			<div class="col-2 nopadding score-wrapper">{% include home-score_all-forgetting.html %} </div>&nbsp;
						<div class="col-9 nopadding" valign="top" align="right" width="99%" height="55vh"><iframe class="embed-responsive-item" width="99%" height="55vh" src="" data-src="https://player.vimeo.com/video/386270819" frameborder="0" allowfullscreen valign="top"></iframe></div>
		</div><!--  all-forgetting-is-retrieval END -->
<br>
<!-- SURFACE TENSION BEGIN --><!--<div class="row full-width" width="100%" height="50vh">
				<div class="col-12 nopadding" valign="top" align="center" width="100%" height="55vh"><iframe class="embed-responsive-item" width="99%" height="55vh" src="" data-src="https://player.vimeo.com/video/306876693" frameborder="0" allowfullscreen></iframe></div>
</div><!-- SURFACE TENSION END -->
<!--<br> -->
<!-- PANIC ARCHITECTURE BEGIN --><div class="row full-width" width="100%" height="50vh">
	<div class="col-2 nopadding score-wrapper">{% include home-score_panic-architecture.html %} </div>&nbsp;
				<div class="col-9 nopadding" valign="top" align="right" width="99%" height="55vh"><iframe class="embed-responsive-item" width="99%" height="55vh" src="" data-src="https://player.vimeo.com/video/245320082" frameborder="0" allowfullscreen valign="top"></iframe></div>
</div><!-- PANIC ARCHITECTURE END -->
<br>
<!-- WALKSIDE  BEGIN --><!--<div class="row full-width" width="100%" height="50vh">
	<div class="col-2 nopadding score-wrapper">{% include home-score_walksidelost.html %} </div>&nbsp;
				<div class="col-9 nopadding" valign="top" align="right" width="99%" height="55vh"><iframe class="embed-responsive-item" width="99%" height="55vh" src="" data-src="https://player.vimeo.com/video/140159929" frameborder="0" allowfullscreen  valign="top"></iframe></div>
			-->	<!-- WALKSIDE  END -->
			</div><!--</div><br> -->
			<br>

<center>
<div class="row col-sm-8" width="70%" height="30vh">
			{% include photos-portfolio-masonry.html folderName='manuscript' %}
			</div>


</section>
<!-- Page Header end-->
