---
layout: default
---
<!-- Page Header-- - - - bg-dark## lower number is brighter, higher number has dark overlay for background header image -->


<section class="module-header full-width parallax bg-dark bg-dark-60" data-background="assets/images/afir-1400x684.jpg" background-color=#0a0b0c>
<div class="container">
		<div class="row">
			<div class="col-sm-12">
			<h1 class="h1">Jason Thorpe Buchanan</h1>
				<h2 class="h2">Composer</h2>
			</div>
		</div>
	</div>
</section>





<!-- videos -->
 <section class="score-vid-header module-bg-dark" background-color="#051f4a" background-image="http://www.jasonthorpebuchanan.com/assets/images/backgrounds/crazystavesdarkblue884.jpg">
	<div class="container full-width" background-image="http://www.jasonthorpebuchanan.com/assets/images/backgrounds/crazystavesdarkblue884.jpg">


		<!-- SOLILOQUIOS  BEGIN --><div class="row full-width" width="100%" height="600">
			<div class="col-2 nopadding score-wrapper" align="left">{% include home-score_soliloquios-del-viento.html %}</div>
				<div class="col-9 nopadding" valign="top" align="right" width="900" ><iframe class="embed-responsive-item" width="100%" src="" data-src="https://player.vimeo.com/video/400224384" frameborder="0" allowfullscreen valign="top"></iframe></div>
		</div><!-- SOLILOQUIOS  END -->

<br>
		<!-- all-forgetting-is-retrieval BEGIN --><div class="row full-width" width="100%" height="600">
			<div class="col-2 nopadding score-wrapper">{% include home-score_all-forgetting.html %} </div>
						<div class="col-9 nopadding" valign="top" align="right" width="900" ><iframe class="embed-responsive-item" width="100%" src="" data-src="https://player.vimeo.com/video/386270819" frameborder="0" allowfullscreen valign="top"></iframe></div>
		</div><!--  all-forgetting-is-retrieval END -->
<br>
<!-- SURFACE TENSION BEGIN --><div class="row full-width" width="100%" height="900">
				<div class="col-12 nopadding" valign="top" align="center" width="1200"><iframe class="embed-responsive-item" width="100%" src="" data-src="https://player.vimeo.com/video/306876693" frameborder="0" allowfullscreen></iframe></div>
</div><!-- SURFACE TENSION END -->
<br>
<!-- PANIC ARCHITECTURE BEGIN --><div class="row full-width" width="100%" height="600">
	<div class="col-2 nopadding score-wrapper">{% include home-score_panic-architecture.html %} </div>
				<div class="col-9 nopadding" valign="top" align="right" width="900" ><iframe class="embed-responsive-item" width="100%" src="" data-src="https://player.vimeo.com/video/245320082" frameborder="0" allowfullscreen valign="top"></iframe></div>
</div><!-- PANIC ARCHITECTURE END -->
<br>
<!-- WALKSIDE  BEGIN --><div class="row full-width" width="100%" height="600">
	<div class="col-2 nopadding score-wrapper">{% include home-score_walksidelost.html %} </div>
				<div class="col-9 nopadding" valign="top" align="right" width="900" ><iframe class="embed-responsive-item" width="100%" src="" data-src="https://player.vimeo.com/video/140159929" frameborder="0" allowfullscreen  valign="top"></iframe></div>
				<!-- WALKSIDE  END -->
			</div></div><br>


</section>
<!-- Page Header end-->
