---
layout: default
---
<!-- Page Header-- - - - bg-dark## lower number is brighter, higher number has dark overlay for background header image -->


<section class="module-header full-width parallax bg-dark bg-dark-60" data-background="assets/images/afir-1800x914-opt.jpg" background-color=#0a0b0c>
<div class="container">
		<div class="row">
			<div class="col-sm-12">
			<h1 class="h1">Jason Thorpe Buchanan</h1>
				<h2 class="h2">Composer</h2>
			</div>
		</div>
	</div>
</section>

<!-- big news -->
<div class="container full-width">
<a data-fancybox="" data-type="iframe" href="/news/2022/08/09/HfM-Dresden-Hybrid-Music-Lab.html" target="_blank"><div class="row justify-content-start"><div class="col-4"><img src="/assets/images/updates/2022/hfm-dresden-building-logo_330.jpg" class="rounded media-left img-fluid" alt=""></div><div class="media-body col-8"><strong>Faculty appointment at the Hochschule für Musik Dresden, Hybrid Music Lab</strong>.
I'm thrilled to be joining the faculty of the Hybrid Music Lab at the Hochschule für Musik Carl Maria von Webern as Artistic Associate/Lecturer in New Media and Digital Technologies for Music, teaching seminars and workshops in audiovisual/intermedia composition and network music/telematic performance with colleagues Stefan Prins, Artemi-Maria Gioti, Christoph Mann, and Franz Martin Olbrisch.
</div></div></div></a>
<!-- end big news -->
<br>
<!-- videos -->
 <section class="score-vid-header module-bg-dark" background-color="#051f4a">
	<div class="container full-width">
		<!-- reflexive iterations BEGIN --><div class="row full-width" width="100%" height="50vh">
			<div class="col-2 nopadding score-wrapper">{% include home-score_reflexive-iterations.html %} </div>&nbsp;
						<div class="col-9 nopadding" valign="top" align="right" width="99%" height="55vh"><iframe class="embed-responsive-item" width="99%" height="55vh" src="" data-src="https://player.vimeo.com/video/555041925" frameborder="0" allowfullscreen valign="top"></iframe></div>
		</div><!--  reflexive iterations END -->
<br>

		<!-- all-forgetting-is-retrieval LESS THAN 10 BEGIN --><div class="row full-width" width="100%" height="50vh">
			<div class="col-2 nopadding score-wrapper">{% include home-score_all-forgetting.html %} </div>&nbsp;
						<div class="col-9 nopadding" valign="top" align="right" width="99%" height="55vh"><iframe class="embed-responsive-item" width="99%" height="55vh" src="" data-src="https://player.vimeo.com/video/545829340" frameborder="0" allowfullscreen valign="top"></iframe></div>
		</div><!--  all-forgetting-is-retrieval END -->
<br>

		<!-- SOLILOQUIOS  BEGIN --><div class="row full-width" width="100%" height="50vh">
			<div class="col-2 nopadding score-wrapper" align="left">{% include home-score_soliloquios-del-viento.html %}</div>&nbsp;

				<div class="col-9 nopadding" valign="top" align="right" width="99%" height="55vh"><iframe class="embed-responsive-item" width="98%" height="55vh" src="" data-src="https://player.vimeo.com/video/400224384" frameborder="0" allowfullscreen valign="top"></iframe></div>
		</div><!-- SOLILOQUIOS  END -->

<br>
		<!-- all-forgetting-is-retrieval BEGIN --><div class="row full-width" width="100%" height="50vh">
			<div class="col-2 nopadding score-wrapper">{% include home-score_all-forgetting.html %} </div>&nbsp;
						<div class="col-9 nopadding" valign="top" align="right" width="99%" height="55vh"><iframe class="embed-responsive-item" width="99%" height="55vh" src="" data-src="https://player.vimeo.com/video/386270819" frameborder="0" allowfullscreen valign="top"></iframe></div>
		</div><!--  all-forgetting-is-retrieval END -->
<br>
<!-- SURFACE TENSION BEGIN --><!--<div class="row full-width" width="100%" height="50vh">
				<div class="col-12 nopadding" valign="top" align="center" width="100%" height="55vh"><iframe class="embed-responsive-item" width="99%" height="55vh" src="" data-src="https://player.vimeo.com/video/306876693" frameborder="0" allowfullscreen></iframe></div>
</div><!-- SURFACE TENSION END -->
<!--<br> -->
<!-- PANIC ARCHITECTURE BEGIN --><div class="row full-width" width="100%" height="50vh">
	<div class="col-2 nopadding score-wrapper">{% include home-score_panic-architecture.html %} </div>&nbsp;
				<div class="col-9 nopadding" valign="top" align="right" width="99%" height="55vh"><iframe class="embed-responsive-item" width="99%" height="55vh" src="" data-src="https://player.vimeo.com/video/245320082" frameborder="0" allowfullscreen valign="top"></iframe></div>
</div><!-- PANIC ARCHITECTURE END -->
<br>
<!-- WALKSIDE  BEGIN --><!--<div class="row full-width" width="100%" height="50vh">
	<div class="col-2 nopadding score-wrapper">{% include home-score_walksidelost.html %} </div>&nbsp;
				<div class="col-9 nopadding" valign="top" align="right" width="99%" height="55vh"><iframe class="embed-responsive-item" width="99%" height="55vh" src="" data-src="https://player.vimeo.com/video/140159929" frameborder="0" allowfullscreen  valign="top"></iframe></div>
			-->	<!-- WALKSIDE  END -->
			</div><!--</div><br> -->


</section>
<!-- Page Header end-->
