.Style1{font-family: 'Baskerville','Times New Roman',serif;
font-size: 53px; 
margin:0;
color: #FEFFFF;
text-shadow: 0.0000px 0.0000px 0.0px rgba(0,0,0,0.0);
word-wrap: break-word;}
.Style2{font-family: 'Baskerville','Times New Roman',serif;
font-size: 46px; 
color: #FEFFFF;
text-shadow: 0.0000px 0.0000px 0.0px rgba(0,0,0,0.0);
word-wrap: break-word;}
.Style3{font-family: 'Baskerville','Times New Roman',serif;
font-size: 34px; 
color: #FEFFFF;
text-shadow: 0.0000px 0.0000px 0.0px rgba(0,0,0,0.0);
word-wrap: break-word;}
.Style4{font-family: 'Baskerville','Times New Roman',serif;
font-size: 52px; 
color: #FEFFFF;
text-shadow: 0.0000px 0.0000px 0.0px rgba(0,0,0,0.0);
word-wrap: break-word;}
.Style5{font-family: 'Baskerville','Times New Roman',serif;
font-size: 35px; 
color: #FEFFFF;
text-shadow: 0.0000px 0.0000px 0.0px rgba(0,0,0,0.0);
word-wrap: break-word;}
.Style6{font-family: 'Baskerville','Times New Roman',serif;
font-size: 24px; 
margin:0;
color: #FEFFFF;
word-wrap: break-word;}
.Style7{font-family: 'Baskerville','Times New Roman',serif;
font-size: 22px; 
margin:0;
color: #FEFFFF;
word-wrap: break-word;}
.Style8{font-family: 'Baskerville','Times New Roman',serif;
font-size: 12px; 
margin:0;
word-wrap: break-word;}
.Style9{font-family: 'Baskerville','Times New Roman',serif;
font-size: 36px; 
margin:0;
color: #FEFFFF;
text-shadow: 0.0000px 0.0000px 0.0px rgba(0,0,0,0.0);
word-wrap: break-word;}
.Style10{font-family: 'Baskerville','Times New Roman',serif;
font-size: 20px; 
margin:0;
color: #E4E9EF;
word-wrap: break-word;}
.linkStyle_11{font-family: 'Baskerville','Times New Roman',serif;
font-size: 20px; 
color: #1992D6;
text-decoration: underline; 
/*000#00F900#8097A8#7FB3D7*/
word-wrap: break-word;}
a.linkStyle_11:visited{color:#8097A8; text-decoration:underline;}
a.linkStyle_11:hover{color:#7FB3D7; text-decoration:underline;}
.Style14{font-family: 'Baskerville','Times New Roman',serif;
font-size: 20px; 
color: #E4E9EF;
word-wrap: break-word;}
.Style15{font-family: 'Baskerville','Times New Roman',serif;
font-size: 40px; 
margin:0;
color: #FEFFFF;
text-shadow: 0.0000px 0.0000px 0.0px rgba(0,0,0,0.0);
word-wrap: break-word;}
.Style16{font-family: 'Baskerville','Times New Roman',serif;
font-size: 27px; 
margin:0;
color: #E4E9EF;
word-wrap: break-word;}
.Style17{font-family: 'Baskerville','Times New Roman',serif;
font-size: 19px; 
margin:0;
color: #E4E9EF;
word-wrap: break-word;}
.Style18{font-family: 'Baskerville','Times New Roman',serif;
font-size: 20px; 
font-weight:700; 
margin:0;
color: #E4E9EF;
word-wrap: break-word;}
.Style19{font-family: 'Baskerville','Times New Roman',serif;
font-size: 20px; 
font-weight: 400;
color: #E4E9EF;
word-wrap: break-word;}
.Style20{font-family: 'Baskerville','Times New Roman',serif;
font-size: 20px; 
font-style: italic;
color: #E4E9EF;
word-wrap: break-word;}
.linkStyle_21{font-family: 'Baskerville','Times New Roman',serif;
font-size: 20px; 
color: #1992D6;
text-decoration: underline; 
/*000#7FB3D7#8097A8#7FB3D7*/
word-wrap: break-word;}
a.linkStyle_21:visited{color:#8097A8; text-decoration:underline;}
a.linkStyle_21:hover{color:#7FB3D7; text-decoration:underline;}
.Style24{font-family: 'Baskerville','Times New Roman',serif;
font-size: 27px; 
margin:0;
color: #FEFFFF;
word-wrap: break-word;}
.Style25{font-family: 'Baskerville','Times New Roman',serif;
font-size: 19px; 
margin:0;
color: #FEFFFF;
word-wrap: break-word;}
.Style26{font-family: 'Baskerville','Times New Roman',serif;
font-size: 20px; 
font-weight:700; 
color: #E4E9EF;
word-wrap: break-word;}
.Style27{font-family: 'Baskerville','Times New Roman',serif;
font-size: 20px; 
font-weight:700; 
font-style: italic;
color: #E4E9EF;
word-wrap: break-word;}
.Style28{font-family: 'Baskerville','Times New Roman',serif;
font-size: 18px; 
margin:0;
color: #E4E9EF;
word-wrap: break-word;}
.Style29{font-family: 'Baskerville','Times New Roman',serif;
font-size: 18px; 
font-style: italic;
color: #E4E9EF;
word-wrap: break-word;}
.Style30{font-family: 'Baskerville','Times New Roman',serif;
font-size: 18px; 
color: #E4E9EF;
word-wrap: break-word;}
.Style31{font-family: 'Baskerville','Times New Roman',serif;
font-size: 34px; 
margin:0;
color: #FEFFFF;
text-shadow: 0.0000px 0.0000px 0.0px rgba(0,0,0,0.0);
word-wrap: break-word;}
.Style32{font-family: 'Baskerville','Times New Roman',serif;
font-size: 25px; 
margin:0;
color: #FEFFFF;
text-shadow: 0.0000px 0.0000px 0.0px rgba(0,0,0,0.0);
word-wrap: break-word;}
body{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing: grayscale}
.animhidden{opacity: 0}
.animvisible{opacity: 1}
.animhidden{opacity: 0}
.animvisible{opacity: 1}