<!-- ********************* BEGIN BEGIN foot.html BEGIN BEGIN *********************  -->
<!-- lightbox CSS-->
<link href="{{ site.assets }}/css/lightbox.min.css" rel="stylesheet" async>
<link rel="stylesheet" href="{{ site.assets }}/css/jtb-jquery.fancybox.min.css" async/>
<script src="{{ site.assets }}/css/jquery.fancybox.min3.5.7.css"  async></script>

<!-- ********************* limit updates and events to tag new on load *********************  -->
<script defer>
  $(document).ready(function() {
     setTimeout(function() {
       $("#onload").click();
     },1500);
   });
</script>
<!-- ********************* END END foot.html END END *********************  -->
