<footer class="footer">
  <div class="footer_width">

    <!-- BEGIN SEARCH TAGS -->

          <!-- create empty string to append tags -->
          {% assign tagString = '' %}
          <!-- capture the process of appending tags in a list -->
          <!-- append current tag to tagString, strip all whitespace, but retain space between words -->
          {% capture listOfTags %}
          	{%- for post in site.posts  -%}
          		{%- if post.tags -%}
          			{%- for tag in post.tags -%}
          				{{ tagString | append: tag | append: ' ' }}
          			{%- endfor -%}
          		{% endif %}
          	{% endfor %}
          {% endcapture %}



          <!-- portfolio -->
          <div class="row row-portfolio-filter">
          <div class="col-sm-12">
          	<ul class="filters" id="filters">
          		<li><a class="current" data-filter=".new">New</a></li>
              <li><a href="#" data-filter=".2019">2019</a></li>
          		<li><a href="#" data-filter=".2018">2018</a></li>
          		<li><a href="#" data-filter=".2017">2017</a></li>
          		<li><a href="#" data-filter=".2016">2016</a></li>
          			<li><a href="#" data-filter=".2015">2015</a></li>
          				<li><a href="#" data-filter=".2014">2014</a></li>
                  <li><a href="#" data-filter=".older">older</a></li>
                    <li><a href="#" data-filter=".conducting">conducting</a></li>
                    <li><a href="#" data-filter=".switch">switch</a></li>

          		{% comment %}
          		{%- for tag in tagArray -%}
          			<li><a href="#" data-filter=".{{ tag }}">{{ tag | capitalize }}</a></li>
          		{%- endfor -%}
          		{% endcomment %}
          	</ul>
          </div>
          </div>

    <!-- END SEARCH TAGS -->

    <div class="row">




      <div class="col-sm-6">
        <!-- Recent entries widget-->
        <aside class="widget widget_recent_entries"><div class="widget-title">
            <h5>Updates</h5>
          </div>
          {% include home-latest-news.html %}
        </aside>
      </div>
      <div class="col-sm-1"></div>

      <div class="col-sm-5">
        <!-- Recent entries widget-->
        <aside class="widget widget_recent_entries"><div class="widget-title">
            <h5>Events</h5>
          </div>
          {% include home-latest-performances.html %}
        </aside>
      </div>

      <!-- <div class="col-md-6 col-lg-3">
        <aside class="widget widget_tag_cloud">
          <div class="widget-title">
            <h5>Tags</h5>
          </div>
          <div class="tagcloud"><a href="#">Design</a><a href="#">Travel</a><a href="#">Startup</a><a href="#">Music</a><a href="#">Portfolio</a><a href="#">Responsive</a></div>
        </aside>
      </div> -->
    </div>
    <div class="row">
      <div class="col-12">
        <!-- Text widget-->
        <aside class="widget widget_text">
          <div class="widget-title">
    <!--        <h5>Contact</h5> -->
          </div>
      <!--      <p class="text-center">Get in touch. We would love to hear from you.</p> -->
            <div class="col-md-6 mx-auto">
              <div class="d-flex justify-content-between">
                <a href="mailto:jasontbuchanan@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                <a href="https://www.facebook.com/jasontbuchanan/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="https://twitter.com/jasontbuchanan"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="https://www.instagram.com/jasontbuchanan/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              </div>
            </div>
        </aside>
      </div>

    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center"><span class="copyright">Jason Thorpe Buchanan</span></div>
        </div>
      </div>
    </div>
  </div>
</footer>
