<!-- ********************* BEGIN BEGIN foot.html BEGIN BEGIN *********************  -->
<!-- lightbox CSS-->
<link href="{{ site.assets }}/css/lightbox.min.css" rel="stylesheet"  defer>
<link rel="stylesheet" href="{{ site.assets }}/css/jtb-jquery.fancybox.min.css" defer/>
<script src="{{ site.assets }}/js/jtb-jquery-3.3.1.min.js"  defer></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"  defer></script>
<script src="{{ site.assets }}/js/lightbox-plus-jquery.min.js"  defer></script>
<!-- ********************* END END foot.html END END *********************  -->
