<!DOCTYPE html>
<html lang="en">
	<head>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"  async>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"  async></script>


<!-- Plugins and Icon Fonts-->
<link href="http://www.jasonthorpebuchanan.com/assets/css/plugins.min.css" rel="stylesheet" async>
<!-- lightbox CSS-->
<link href="http://www.jasonthorpebuchanan.com/assets/css/lightbox.min.css" rel="stylesheet" defer>

<link rel="stylesheet" href="http://www.jasonthorpebuchanan.com/assets/css/jtb-jquery.fancybox.min.css" defer/>

<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js" defer></script>


<!-- THIS IS FOR SCORES -->
<script type="text/javascript" async>

function toggle_text(shown, hidden) {
       var e = document.getElementById(shown);
       var f = document.getElementById(hidden);
    if(e.style.display == 'inline') {
                  e.style.display = 'none';
                  f.style.display = 'inline';
      }
      else {
                  e.style.display = 'inline';
                  f.style.display = 'none';
      }
}
</script>

 <script language="javascript" async>
<!--
function getItem(id)
    {
        var itm = false;
        if(document.getElementById)
            itm = document.getElementById(id);
        else if(document.all)
            itm = document.all[id];
        else if(document.layers)
            itm = document.layers[id];
        return itm;
    }
    function toggleItem(id)
    {
        itm = getItem(id);
        if(!itm)
            return false;
        if(itm.style.display == 'none')
            itm.style.display = '';
        else
            itm.style.display = 'none';
        return false;
    }
//-->
</script>

<script src="http://www.jasonthorpebuchanan.com/assets/js/lightbox-plus-jquery.min.js" defer></script>

	</head>


	<body>
		<!-- Layout-->
		<div class="layout">

	</body>
</html>
