<!DOCTYPE html>
<html lang="en">
	<head>




<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


<!-- Plugins and Icon Fonts-->
<link href="/assets/css/plugins.min.css" rel="stylesheet">
<!-- lightbox CSS-->
<link href="/assets/css/lightbox.min.css" rel="stylesheet">

<link rel="stylesheet" href="assets/css/jtb-jquery.fancybox.min.css" />


<!-- THIS IS FOR SCORES -->
<script type="text/javascript">

function toggle_text(shown, hidden) {
       var e = document.getElementById(shown);
       var f = document.getElementById(hidden);
    if(e.style.display == 'inline') {
                  e.style.display = 'none';
                  f.style.display = 'inline';
      }
      else {
                  e.style.display = 'inline';
                  f.style.display = 'none';
      }
}
</script>

 <script language="javascript">
<!--
function getItem(id)
    {
        var itm = false;
        if(document.getElementById)
            itm = document.getElementById(id);
        else if(document.all)
            itm = document.all[id];
        else if(document.layers)
            itm = document.layers[id];
        return itm;
    }
    function toggleItem(id)
    {
        itm = getItem(id);
        if(!itm)
            return false;
        if(itm.style.display == 'none')
            itm.style.display = '';
        else
            itm.style.display = 'none';
        return false;
    }
//-->
</script>

<script src="assets/js/jtb-jquery-3.3.1.min.js"></script>

<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

<script src="/assets/js/lightbox-plus-jquery.min.js"></script>

	</head>


	<body>
		<!-- Layout-->
		<div class="layout">





		<!-- all-forgetting-is-retrieval LESS THAN 10 BEGIN -->
    <!--<div class="row full-width" width="100%" height="50vh">
			<div class="col-2 nopadding score-wrapper"><img src="scores/works/scores/all-forgetting-is-retrieval_score/all-forgetting_thumb_339.gif" rel="all-forgetting-score-score" height="339" width="240" data-fancybox="images" href="scores/works/scores/all-forgetting-is-retrieval_score/all-forgetting-is-retrieval_(2019)_ThorpeBuchanan__1.png" data-caption="all-forgetting-is-retrieval (2019) by Jason Thorpe Buchanan">
<img rel="all-forgetting-score" data-fancybox="images" href="scores/works/scores/all-forgetting-is-retrieval_score/all-forgetting-is-retrieval_(2019)_ThorpeBuchanan__2.png" data-caption="all-forgetting-is-retrieval (2019) by Jason Thorpe Buchanan">
<img rel="all-forgetting-score" data-fancybox="images" href="scores/works/scores/all-forgetting-is-retrieval_score/all-forgetting-is-retrieval_(2019)_ThorpeBuchanan__3.png" data-caption="all-forgetting-is-retrieval (2019) by Jason Thorpe Buchanan">
<img rel="all-forgetting-score" data-fancybox="images" href="scores/works/scores/all-forgetting-is-retrieval_score/all-forgetting-is-retrieval_(2019)_ThorpeBuchanan__4.png" data-caption="all-forgetting-is-retrieval (2019) by Jason Thorpe Buchanan">
<img rel="all-forgetting-score" data-fancybox="images" href="scores/works/scores/all-forgetting-is-retrieval_score/all-forgetting-is-retrieval_(2019)_ThorpeBuchanan__5.png" data-caption="all-forgetting-is-retrieval (2019) by Jason Thorpe Buchanan">
<img rel="all-forgetting-score" data-fancybox="images" href="scores/works/scores/all-forgetting-is-retrieval_score/all-forgetting-is-retrieval_(2019)_ThorpeBuchanan__6.png" data-caption="all-forgetting-is-retrieval (2019) by Jason Thorpe Buchanan">
<img rel="all-forgetting-score" data-fancybox="images" href="scores/works/scores/all-forgetting-is-retrieval_score/all-forgetting-is-retrieval_(2019)_ThorpeBuchanan__7.png" data-caption="all-forgetting-is-retrieval (2019) by Jason Thorpe Buchanan">
<img rel="all-forgetting-score" data-fancybox="images" href="scores/works/scores/all-forgetting-is-retrieval_score/all-forgetting-is-retrieval_(2019)_ThorpeBuchanan__8.png" data-caption="all-forgetting-is-retrieval (2019) by Jason Thorpe Buchanan">
<img rel="all-forgetting-score" data-fancybox="images" href="scores/works/scores/all-forgetting-is-retrieval_score/all-forgetting-is-retrieval_(2019)_ThorpeBuchanan__9.png" data-caption="all-forgetting-is-retrieval (2019) by Jason Thorpe Buchanan">
<img rel="all-forgetting-score" data-fancybox="images" href="scores/works/scores/all-forgetting-is-retrieval_score/all-forgetting-is-retrieval_(2019)_ThorpeBuchanan__10.png" data-caption="all-forgetting-is-retrieval (2019) by Jason Thorpe Buchanan">
 </div>&nbsp;
<br> -->

<!-- Page Header end-->



<script src="/assets/js/plugins.min.js"></script>
<script src="/assets/js/charts.js"></script>
<script src="/assets/js/custom.min.js"></script>


<script src="assets/js/jtb-jquery-3.3.1.min.js" type="18818c4fd68f7f60b1dc13ee-text/javascript"></script>

<!-- this is for scores -->

<script language="javascript"><!--
function getItem(id)
{var itm=false;if(document.getElementById)
itm=document.getElementById(id);else if(document.all)
itm=document.all[id];else if(document.layers)
itm=document.layers[id];return itm;}
function toggleItem(id)
{itm=getItem(id);if(!itm)
return false;if(itm.style.display=='none')
itm.style.display='';else
itm.style.display='none';return false;}</script>



		<script>
		function init() {
		var vidDefer = document.getElementsByTagName('iframe');
		for (var i=0; i<vidDefer.length; i++) {
		if(vidDefer[i].getAttribute('data-src')) {
		vidDefer[i].setAttribute('src',vidDefer[i].getAttribute('data-src'));
		} } }
		window.onload = init;
		</script>
	</body>
</html>
