

<!-- START HEADSHOTS -->
<center>
<div class="row full-width" width="80%" height="25vh">
  <div class="col-sm-2 mx-auto" align="left"><figure class="figure">
    <a data-fancybox data-type="iframe" href="{{ site.images }}/headshots/ThorpeBuchanan_Dec.2024-final_2800-headshot.jpg" target="_blank" class="figure-img img-fluid"><div class="row"><img src="{{ site.images }}/headshot-thumbs/ThorpeBuchanan_Dec.2024-final_2800-headshot.jpg" class="rounded media-left img-fluid" alt=""></div></a>
      <figcaption class="figure-caption text-center">Dec. 2024, Bogliasco, Italy</figcaption></figure></div>
<div class="col-sm-1 mx-auto" align="center">&nbsp;&nbsp;</div>
    <div class="col-sm-2 mx-auto" align="center">
    <figure class="figure">
      <a data-fancybox data-type="iframe" href="{{ site.images }}/headshots/2020-JTB_HuaHin_1800x899-headshot.jpg" target="_blank" class="figure-img img-fluid"><div class="row"><img src="{{ site.images }}/headshot-thumbs/2020-JTB_HuaHin_1800x899-headshot.jpg" class="rounded media-left img-fluid" alt=""></div></a>
      <figcaption class="figure-caption text-center">May 2020, Hua Hin, Thailand</figcaption></figure></div>

<div class="col-sm-1 mx-auto" align="center">&nbsp;&nbsp;</div>
      <div class="col-sm-2 mx-auto" align="center">
    <figure class="figure">
      <a data-fancybox data-type="iframe" href="{{ site.images }}/headshots/2016-royaumont_1080x1080-headshot.jpg" target="_blank" class="figure-img img-fluid"><div class="row"><img src="{{ site.images }}/headshot-thumbs/2016-royaumont_1080x1080-headshot.jpg" class="rounded media-left img-fluid" alt=""></div></a>
      <figcaption class="figure-caption text-center">Sep 2016, Royaumont, France</figcaption></figure></div>
<div class="col-sm-1 mx-auto" align="center">&nbsp;&nbsp;</div>
     <div class="col-sm-2 mx-auto" align="right">
    <figure class="figure">
      <a data-fancybox data-type="iframe" href="{{ site.images }}/headshots/jtb_mixer_1200x800-headshot.jpg" target="_blank" class="figure-img img-fluid"><div class="row"><img src="{{ site.images }}//headshot-thumbs/jtb_mixer_1200x800-headshot.jpg" class="rounded media-left img-fluid" alt=""></div></a>
      <figcaption class="figure-caption text-center">Dec. 2012, Philadelphia, United States</figcaption></figure></div>
    
    </div>

<br style="line-height:1px">
<!-- END HEADSHOTS -->


