<script type="text/javascript" defer>
function toggle_text(shown, hidden) {
       var e = document.getElementById(shown);
       var f = document.getElementById(hidden);
    if(e.style.display == 'inline') {
                  e.style.display = 'none';
                  f.style.display = 'inline';
      }
      else {
                  e.style.display = 'inline';
                  f.style.display = 'none';
      }
}</script>

 <script language="javascript" defer>
<!--
function getItem(id)
    {
        var itm = false;
        if(document.getElementById)
            itm = document.getElementById(id);
        else if(document.all)
            itm = document.all[id];
        else if(document.layers)
            itm = document.layers[id];
        return itm;
    }
    function toggleItem(id)
    {
        itm = getItem(id);
        if(!itm)
            return false;
        if(itm.style.display == 'none')
            itm.style.display = '';
        else
            itm.style.display = 'none';
        return false;
    }
//-->
</script>
