<div class="row row-portfolio-filter">
	<div class="col-sm-12">
		<ul class="h5 filters">

			<li><a href="{{ site.url }}/media/photos/2019.html">2019</a></li>
			<li><a href="{{ site.url }}/media/photos/2018.html">2018</a></li>
			<li><a href="{{ site.url }}/media/photos/2017.html">2017</a></li>
			<li><a href="{{ site.url }}/media/photos/2016.html">2016</a></li>
			<li><a href="{{ site.url }}/media/photos/2015.html">2015</a></li>
			<li><a href="{{ site.url }}/media/photos/2014.html">2014</a></li>
			<li><a href="{{ site.url }}/media/photos/2013.html">2013</a></li>
			<li><a href="{{ site.url }}/media/photos/2012.html">2012</a></li>
			<li><a href="{{ site.url }}/media/photos/2011.html">2011</a></li>
			<li><a href="{{ site.url }}/media/photos/2010.html">2010</a></li>
				<br>
      <li><a href="{{ site.url }}/media/photos/mata.html">Switch@MATA</a></li>
			<li><a href="{{ site.url }}/media/photos/avaloch.html">Switch@Avaloch</a></li>
			<li><a href="{{ site.url }}/media/photos/uchicago.html">Switch@UChicago</a></li>
			<li><a href="{{ site.url }}/media/photos/harvard.html">Switch@Harvard</a></li>

      <li><a href="{{ site.url }}/media/photos/vipa.html">VIPA</a></li>
			<li><a href="{{ site.url }}/media/photos/TICF.html">TICF</a></li>
			<li><a href="{{ site.url }}/media/photos/UT-austin.html">UT Austin</a></li>

			<br>
			<li><a href="{{ site.url }}/media/photos/soliloquios-del-viento.html">soliloquios del viento</a></li>
			<li><a href="{{ site.url }}/media/photos/panic-architecture.html">PANIC ARCHITECTURE</a></li>
			<li><a href="{{ site.url }}/media/photos/actor-network-theory.html">ACTOR-NETWORK THEORY</a></li>
			<li><a href="{{ site.url }}/media/photos/surface-tension.html">surface, tension</a></li>
			<li><a href="{{ site.url }}/media/photos/all-forgetting-is-retrieval.html">all-forgetting-is-retrieval</a></li>
			<li><a href="{{ site.url }}/media/photos/hunger.html">Hunger</a></li>
			<li><a href="{{ site.url }}/media/photos/pulp.html">pulp</a></li>
			<li><a href="{{ site.url }}/media/photos/gimme-shelter.html">gimme shelter</a></li>
			<li><a href="{{ site.url }}/media/photos/walkside-lost.html">walkside, lost</a></li>






      <!-- <li><a href="#"></a></li>
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
      <li><a href="#"></a></li> -->
		</ul>
	</div>
</div>
