{%- assign imageFiles = site.static_files | where: "image", true | sort: 'date' | reverse -%}

<!-- {%- assign imagefiles = site.static_files | sort: 'date' | reverse -%} -->


<!-- Portfolio-->
<div class="container-fluid">
	<div class="row row-portfolio" data-columns="4">
		<div class="grid-sizer"></div>
		{%- for image in imageFiles -%}
			{%- if image.path contains include.folderName -%}
				<div class="portfolio-item p-1">
					<div class="portfolio-wrapper">
						<img src="/thumbnails{{ image.path }}" alt="{{ image.basename }}">
						<a data-fancybox="images" class="portfolio-link" href="{{ image.path }}" data-caption="{{ image.basename }}"></a>
					</div>
				</div>
			{%- endif -%}
		{%- endfor -%}
	</div>
</div>
<!-- Portfolio end-->
<!-- added thumbnails/ before image path -->
