<div class="row row-portfolio-filter">
	<div class="col-sm-12">
		<ul class="h5 filters">

			<li><a href="/media/photos/2021.html">2021</a></li>
			<li><a href="/media/photos/2020.html">2020</a></li>
			<li><a href="/media/photos/2019.html">2019</a></li>
			<li><a href="/media/photos/2018.html">2018</a></li>
			<li><a href="/media/photos/2017.html">2017</a></li>
			<li><a href="/media/photos/2016.html">2016</a></li>
	<br>
	<li><a href="/media/photos/2015.html">2015</a></li>
			<li><a href="/media/photos/2014.html">2014</a></li>
			<li><a href="/media/photos/2013.html">2013</a></li>
			<li><a href="/media/photos/2012.html">2012</a></li>
			<li><a href="/media/photos/2011.html">2011</a></li>
			<li><a href="/media/photos/2010.html">2010</a></li>
<br><br>

<li><a href="/media/photos/switch.html">Switch</a></li>
      <li><a href="/media/photos/mata.html">Switch@MATA</a></li>
			<li><a href="/media/photos/uchicago.html">Switch@UChicago</a></li>
			<li><a href="/media/photos/harvard.html">Switch@Harvard</a></li>
			<li><a href="/media/photos/berkeley+C4NM.html">Switch@Berkeley+C4NM</a></li>
			<li><a href="/media/photos/ny-tour.html">Switch@Upstate NY</a></li>



<br><br>
      <li><a href="/media/photos/vipa.html">VIPA</a></li>
			<li><a href="/media/photos/ticf.html">TICF</a></li>
			<li><a href="/media/photos/ut-austin.html">UT Austin</a></li>
			<li><a href="/media/photos/darmstadt.html">Darmstadt</a></li>
			<li><a href="/media/photos/bergen.html">Bergen</a></li>
					<li><a href="/media/photos/eofa.html">Embassy of Foreign Artists</a></li>
					<li><a href="/media/photos/royaumont.html">Royaumont</a></li>

	<br><br>
	<li><a href="/media/photos/sketches.html">Switch</a></li>
			<li><a href="/media/photos/conducting.html">Conducting</a></li>
			<li><a href="/media/photos/guest-teaching.html">Guest Teaching</a></li>
			<li><a href="/media/photos/mahidol-guests.html">Mahidol Guests</a></li>
			<li><a href="/media/photos/mahidol.html">Mahidol </a></li>

<br><br>
			<li><a href="/media/photos/soliloquios-del-viento.html">soliloquios del viento</a></li>
			<li><a href="/media/photos/panic-architecture.html">PANIC ARCHITECTURE</a></li>
			<li><a href="/media/photos/actor-network-theory.html">ACTOR-NETWORK THEORY</a></li>
			<li><a href="/media/photos/surface-tension.html">surface, tension</a></li>
			<li><a href="/media/photos/all-forgetting-is-retrieval.html">all-forgetting-is-retrieval</a></li>
			<li><a href="/media/photos/reflexive-iterations.html">Reflexive Iterations</a></li>

<br><br>
			<li><a href="/media/photos/hunger.html">Hunger</a></li>
			<li><a href="/media/photos/pulp.html">pulp</a></li>
			<li><a href="/media/photos/gimme-shelter.html">gimme shelter</a></li>
			<li><a href="/media/photos/walkside-lost.html">walkside, lost</a></li>
<br><br>
			<li><a href="/media/photos/af1.html">Asymptotic Flux I</a></li>
			<li><a href="/media/photos/af2.html">Asymptotic Flux II</a></li>
			<li><a href="/media/photos/double-concerto.html">Double Concerto</a></li>
			<li><a href="/media/photos/durations.html">...durat(A)ions</a></li>
			<li><a href="/media/photos/deterioration.html">de/ter|  |ior.ation</a></li>
			<li><a href="/media/photos/antistasis.html">antistasis</a></li>
			<li><a href="/media/photos/oggetti.html">Oggetti</a></li>





		</ul>
	</div>
</div>
