<!DOCTYPE html>
<html lang="en">
	<head>
		{% include head.html %}
		<link rel="stylesheet" href="/assets/css/jtb_072123.css">
	</head>
	<body>
		<!-- Layout-->
		<div class="layout">
			<!-- Header-->
			{% include header.html %}
			<!-- Header end-->
			<!-- Wrapper-->
			<div class="wrapper" background-color="#051f4a" background-image="http://www.jasonthorpebuchanan.com/assets/images/backgrounds/crazystavesdarkblue1400.jpg">
				{{ content }}
				<!-- Footer-->
				{% include footer.html %}
				<!-- Footer end-->
				<a class="scroll-top" href="#top"><i class="fa fa-angle-up"></i></a>
			</div>
			<!-- Wrapper end-->
		</div>
		<!-- Layout end-->
		{%- comment -%}
			<!-- Off canvas-->
			{% include off-canvas-sidebar.html %}
			<!-- Off canvas end-->
		{%- endcomment -%}
		<!-- Scripts -->
		{% include scripts.html %}
		<!-- Scripts end-->

		<script>
		function init() {
		var vidDefer = document.getElementsByTagName('iframe');
		for (var i=0; i<vidDefer.length; i++) {
		if(vidDefer[i].getAttribute('data-src')) {
		vidDefer[i].setAttribute('src',vidDefer[i].getAttribute('data-src'));
		} } }
		window.onload = init;
		</script>
	</body>
</html>
