---
layout: default-without-ends
---
<!-- ************************* BEGIN BEGIN page-without-ends.html BEGIN BEGIN ************************* -->
	<head>
		{% include from-index.html %}
	</head>
{%- if page.headerImage -%}
  <!-- Page Header-->
  <section class="module-header parallax bg-dark bg-dark-50" data-background="{{ site.images }}/{{ page.headerImage }}" width="90%">
  	<div class="container">

  </section>
  <!-- Page Header end-->
{%- endif -%}

<!-- Module -->
{%- if page.moduleSize == 'small' -%}
<section class="module-sm module-divider-bottom">
{%- else -%}
<section class="module module-divider-bottom">
{%- endif -%}
  {%- if page.container == 'fluid' -%}
    <div class="container-fluid">
  {%- else -%}
    <div class="container" background-color="#1a1c1e">
  {%- endif -%}
    {{ content }}
  </div>
</section>
<!-- Module end-->
<!-- ************************* END END page-without-ends.html END END ************************* -->
