---
layout: page-without-ends
---
	<link rel="stylesheet" href="/assets/css/jtb_072123.css">

		<script type="text/javascript">

		function toggle_text(shown, hidden) {
					 var e = document.getElementById(shown);
					 var f = document.getElementById(hidden);
				if(e.style.display == 'inline') {
											e.style.display = 'none';
											f.style.display = 'inline';
					}
					else {
											e.style.display = 'inline';
											f.style.display = 'none';
					}
		}
		</script>

		 <script language="javascript">
		<!--
		function getItem(id)
				{
						var itm = false;
						if(document.getElementById)
								itm = document.getElementById(id);
						else if(document.all)
								itm = document.all[id];
						else if(document.layers)
								itm = document.layers[id];
						return itm;
				}
				function toggleItem(id)
				{
						itm = getItem(id);
						if(!itm)
								return false;
						if(itm.style.display == 'none')
								itm.style.display = '';
						else
								itm.style.display = 'none';
						return false;
				}
		</script>
		<script src="{{ site.assets }}js/jtb-jquery-3.3.1.min.js"></script>
		<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
		<script src="{{ site.assets }}/js/lightbox-plus-jquery.min.js"></script>


{% assign performancePosts = site.posts | where_exp:"item", "item.categories contains 'performance'" %}
{% comment %}{% assign currentPiecePerfs = site.works | where_exp:"item", "item.title contains 'page.title'" %}{% endcomment %}

	{%- if page.media -%}
	<!-- Media-->
	<section>
	<div class="col-10 mb-4">
		{% assign printHeader = false %}  <!-- successfully removed header -->
		{%- for item in page.media -%}
			{%- if item.url contains 'youtube' or item.url contains 'vimeo' -%}
				{%- if printHeader == true -%}
					<h2 class="text-left">Media</h2>
					{% assign printHeader = nil %}
				{%- endif -%}
				<div class="mb-3"><iframe class="embed-responsive-item mb-3" src="{{ item.url }}" allowfullscreen width="1300" height="736"></iframe></div>
			{%- elsif item.url contains 'soundcloud' -%}
				{%- if printHeader == true -%}
					<h2 class="text-left">Media</h2>
					{% assign printHeader = nil %}
				{%- endif -%}
				{%- if item.url contains 'sets' -%}
					<div class="col-12 mb-3">{% include soundcloud_player.html type="playlists" trackID=item.ID %}</div>
				{%- else -%}
					<div class="col-12 mb-3">{% include soundcloud_player.html type="tracks" trackID=item.ID %}</div>
				{%- endif -%}
			{%- else -%}
			{% comment %}
				<div class="col-12 mb-3">
					<audio src="{{ item.url }}" preload="auto" />
				</div>
			{% endcomment %}
			{%- endif -%}
		{%- endfor -%}
	</div>
	</section>

	<!-- ****** SCORE AND DETAILS BEGIN ****** -->
	<section>
		<div class="single-portfolio-title nopadding" width="98%">
			<div class="row" width="98%">
					{%- if page.score  -%}
		<!--		<div class="col-6 nopadding score-wrapper">{% include {{ page.score }} %}</div> -->
		<h4 class="single-portfolio-title" align="left">VIEW SCORE: TEST</h4>
		<br>
				<div class="col-6 nopadding">{% include {{ page.score }} %}</div>



				{%- endif -%}




	<div class="col-6 nopadding">
					<ul>	<li><h4 class="single-portfolio-title">ABOUT THE WORK:</h4>
</li>
<!-- <li>{{ page.title }}</li> -->
<ul>
<li>  <h5 class="gara24" align="left"><em>{{ page.title }}</em> <font class="gara20">{% if page.yearComposed == nil %}{% else %}({{ page.yearComposed }}){% endif %}</font></h5></li>
		</ul>	<!--		<li>

						<h5>Year Composed: &nbsp;&nbsp;<font class="roboto">{{ page.yearComposed }}</font>
					</li> -->
	        {%- if page.instrumentation -%}
	          <li>
	            <h5>Instrumentation: &nbsp;&nbsp;<font class="roboto">
							{%- for instrument in page.instrumentation -%}
		            {%- if forloop.last == true -%}
		              and {{ instrument -}}
		            {% else %}
		              {{ instrument | append: ', ' }}
		            {%- endif -%}
		          {%- endfor -%}</font>
	          </li>
						{%- endif -%}


					{%- if page.dedication -%}
					<li>
						<h5>Dedication: &nbsp;&nbsp;<font class="roboto">
						{{ page.dedication }}</font>
						</li>
						{%- endif -%}

						{%- if page.awards -%}
						<li>
							<h5>Commission & Awards: &nbsp;&nbsp;<font class="roboto">
							{{ page.awards }}</font>
							</li>
							{%- endif -%}

							{%- if page.text -%}
							<li>
								<h5>Text by: &nbsp;&nbsp;<font class="roboto">
								{{ page.text }}</font>
								</li>
								{%- endif -%}

							{%- if page.premiere -%}
							<li>
								<h5>World Premiere: &nbsp;&nbsp;<font class="roboto">
								{{ page.premiere }}</font>
								</li>
								{%- endif -%}

								{%- if page.europeanPremiere -%}
								<li>
									<h5>European Premiere: &nbsp;&nbsp;<font class="roboto">
									{{ page.europeanPremiere }}</font>
									</li>
									{%- endif -%}

									{%- if page.americanPremiere -%}
									<li>
										<h5>American Premiere: &nbsp;&nbsp;<font class="roboto">
										{{ page.americanPremiere }}</font>
										</li>
										{%- endif -%}

					{%- if page.purchase -%}
					<li>
						<h5>Purchasing information: &nbsp;&nbsp;<font class="roboto">
						{{ page.purchase }}</font>
						{%- endif -%}
						</li>

					{%- if page.contact -%}
						<li>
							<h5>Contact: &nbsp;&nbsp;<font class="roboto">
							{{ page.contact }}</font>
							</li>
							{%- endif -%}

					<li>
						<h5><ul class="social-icons"><li>Share: &nbsp;&nbsp;&nbsp;
<a href="https://facebook.com/sharer.php?u=www.jasonthorpebuchanan.com" rel="nofollow" target="_blank" title="Share on Facebook"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="https://twitter.com/intent/tweet?text={{ page.title }}&url=www.jasonthorpebuchanan.com&via={{ site.twitter }}&related={{ site.twitter }}" rel="nofollow" target="_blank" title="Share on Twitter"><i class="fa fa-twitter"></i></a>
					</li>	</ul></h5>
				</ul>
			</div></div>
			<br></section>
			<!-- ****** SCORE AND DETAILS END ****** -->


<!-- ****** PROGRAM NOTES BEGIN ****** -->
<h4 class="single-portfolio-title nopadding">PROGRAM NOTES:</h4>
	      {{ content }}
	<!-- Media end-->
	{%- endif -%}
<!-- ****** PROGRAM NOTES END ****** -->






	<section>
		<!-- ****** PERFORMANCES BEGIN ****** -->
		<div class="col-lg-8 order-2 order-md-1 nopadding">
			<br><br>


	    <h4 class="single-portfolio-title">Performances of {{ page.title }}</h4>
	    <div class="concert-program mb-3">
	      {%- for performance in performancePosts -%}
	        {%- for piece in performance.program -%}
	          {%- if piece.title == page.title -%}
						<div class="performance">
							<div class="row">
								{%- if performance.thumbnail -%}
								<div class="col-sm-4">
					        <a href="{{ performance.url }}"><img class="img-fluid mb-3 mb-md-0" src="{{ site.images }}/{{ performance.thumbnail }}" alt=""></a>
								</div>

					      {%- endif -%}
	<div class="col-sm-8 mb-3 location-details">
									{{ performance.date | date: "%B %d, %Y" }} <br />
									{%- if performance.event -%}{{ performance.event }}<br />{%- endif -%}
									{%- if performance.location.institution -%}{{ performance.location.institution }}{%- endif -%}{%- if performance.location.building -%}, {{ performance.location.building }}<br />{%- endif -%}
									{%- if performance.location.venue -%}{{ performance.location.venue }}<br />{%- endif -%}
									{%- if performance.location.address -%}{{ performance.location.address }}<br />{%- endif -%}
									{%- if performance.location.country -%}
									{{ performance.location.city }}, {{ performance.location.country }}
									{%- else -%}
									{{ performance.location.city }}, {{ performance.location.state }} {{ performance.location.zip }}
									{%- endif -%}
								</div>
							</div>
								<br>
						</div>
						{% else %}
						<!-- Piece Title: {{ piece.title }} -->
						<!-- Page Title: {{ page.title }} -->
						<!-- ---------------------------- -->
	          {%- endif -%}
	        {%- endfor -%}
	      {%- endfor -%}
	    </div>
	  </div>
	</section>
